@import "../fonts/fonts";
@import "./components/all";
@import "./pages/all";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
}

html {
    font-size: 62.5%;
}

// Only effect login page
@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
