.center-menu-item {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.back-arrow-btn {
    padding: 5px;
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advert-action-btns{
    
}