.content {
    padding: 29px 19px 19px;

    .ant-card-head {
        display: block;
        border: none !important;

        .ant-card-head-title {
            color: #000;
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding: 24px 0 8px;
            height: 66px;
            display: flex;
            align-items: center;
        }

        .back-arrow-btn {
            cursor: pointer;
            margin-left: 8px;
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }
    }

    .quick-access-section {
        .ant-card-body {
            padding-bottom: 27px;

            .ant-card-body {
                padding: 14px 8px 10px 16px !important;
            }

            .quick-access-btns {
                cursor: pointer;
                transition: transform 0.15s;

                .ant-flex {
                    height: 100%;
                }

                .btn-title {
                    color: #000;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .btn-amount {
                    color: #000;
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                &:hover {
                    transform: scale(1.01);
                }
                &:active {
                    transform: scale(1);
                }
            }

            .quick-access-1 {
                border: 1px solid #aeb5f9;
                background: #eff1fe;
            }

            .quick-access-2 {
                border: 1px solid #97dcae;
                background: #ebf8ef;
            }

            .quick-access-3 {
                border: 1px solid #cb8fd9;
                background: #f5e9f8;
            }
        }
    }

    .table-section {
        .ant-card-body {
            padding: 40px 0 0;
            overflow: auto;

            th.ant-table-cell {
                padding: 5px 0;

                .ant-btn {
                    padding: 15px 10px;
                    color: #000;
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .ant-btn-icon {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            tr td.ant-table-cell:first-child {
                height: 100%;
            }

            td.ant-table-cell {
                color: #000;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .ant-table-container::before {
                box-shadow: none;
            }

            .ant-table-cell {
                border-top: 1px solid #d9d9d9;
                border-radius: 0 !important;
            }

            .ant-btn-icon {
                display: flex;
                align-items: center;
            }

            .ant-table-thead {
                height: 48px !important;
            }

            .ant-input {
                width: 80%;
                border-color: #707070 !important;
            }

            .status-tag {
                border-radius: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: min-content;
                white-space: nowrap;
                padding: 0 12px;
                margin: auto;

                .status-dot {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-left: 4px;
                }
            }

            .ant-select {
                width: 100%;

                .ant-select-selector {
                    border: 1px solid #707070 !important;
                }
            }

            .ant-picker {
                border-color: #707070 !important;

                input::placeholder {
                    color: #000;
                    font-size: 1.2rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .ant-picker-suffix {
                    color: black;
                }
            }

            .ant-table-row {
                height: 56px !important;

                .ant-table-cell {
                    padding: 5px;
                }

                &:nth-child(even) {
                    background-color: #eee !important;
                }

                &:nth-child(1) {
                    background-color: #ffffff !important;
                }

                .ant-table-cell-row-hover {
                    background-color: transparent !important;
                }

                .table-image {
                    width: 40px;
                    height: 40px;
                    display: block;
                    margin: auto;
                    border-radius: 50%;
                }
            }

            .details-btn {
                padding: 6px 10px 6px 1px;
            }

            .picker-input-wrapper {
                border-radius: 6px;
                border: 1px solid #707070;
                width: 80%;
                min-width: unset;
                height: 32px;

                &:hover {
                    border: 1px solid #707070;
                }
            }
        }

        .ant-pagination {
            margin: 45px auto;
            display: flex;
            justify-content: center;
            gap: 1px;
            background-color: #d9d9d9;
            width: max-content;
            border: 1px solid #d9d9d9;
            border-radius: 8px;
            overflow: hidden;

            .ant-pagination-options {
                display: none;
            }

            .ant-pagination-jump-next,
            .ant-pagination-jump-prev {
                background-color: white;
                user-select: none;
            }

            .ant-pagination-item-ellipsis {
                transform: translateX(7px);
            }

            li {
                border-radius: 0;
                margin: 0;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: #f0f0f0;
                }
            }

            .ant-pagination-prev,
            .ant-pagination-next {
                background-color: white;
            }

            .ant-pagination-item-link {
                border-radius: 0;
            }

            &:after {
                display: none;
            }
        }
    }
}
